In [3]:
!pip list | grep pandas
!pip install pandas

pandas              1.3.2
Requirement already satisfied: pandas in /Users/hirosehikaru/git_ripository/compe_python/pu37/lib/python3.7/site-packages (1.3.2)
Requirement already satisfied: numpy>=1.17.3 in /Users/hirosehikaru/git_ripository/compe_python/pu37/lib/python3.7/site-packages (from pandas) (1.21.2)
Requirement already satisfied: pytz>=2017.3 in /Users/hirosehikaru/git_ripository/compe_python/pu37/lib/python3.7/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/hirosehikaru/git_ripository/compe_python/pu37/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/hirosehikaru/git_ripository/compe_python/pu37/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [7]:
!pip list | grep pandas

pandas              1.3.2

In [9]:
import pandas as pd

In [11]:
df = pd.read_csv('./csv/california_housing_train.csv')

In [13]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [17]:
df_as = df.sort_values(by='latitude') # latitudeを昇順でソート
df_as

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
680,-117.04,32.54,7.0,938.0,297.0,1187.0,282.0,1.2667,67500.0
796,-117.06,32.55,5.0,3223.0,940.0,3284.0,854.0,1.4384,108800.0
995,-117.09,32.55,8.0,6533.0,1217.0,4797.0,1177.0,3.9583,144400.0
679,-117.04,32.55,15.0,2206.0,648.0,2511.0,648.0,1.6348,93200.0
1161,-117.12,32.56,20.0,2524.0,682.0,1819.0,560.0,2.9286,257700.0
...,...,...,...,...,...,...,...,...,...
15516,-122.33,41.86,19.0,3599.0,695.0,1572.0,601.0,2.2340,58600.0
16833,-123.26,41.86,25.0,2344.0,532.0,1117.0,424.0,2.7222,64600.0
16883,-123.83,41.88,18.0,1504.0,357.0,660.0,258.0,3.1300,116700.0
16497,-122.64,41.95,18.0,1867.0,424.0,802.0,314.0,1.8242,53500.0
16939,-124.14,41.95,21.0,2696.0,578.0,1208.0,494.0,2.2750,122400.0